
*{
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 auto;
    background: #2b2b2b;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    --text: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
width: 100%;
height: 100%;
border: 1px solid;
}

.content_text{
    display: block;
    width: 100%;
    position: relative !important;
    height: 100%;
    .right{
        display: flex;
        justify-content: right;
    }

    .text_item{
        display: block;
        padding: 15px;
        background: white;
        width: 70%;
        border-radius: 20px;
        margin-bottom: 8px;
        color: #2b2b2b;
    }

    .send{
        background: green;
        color: var(--text) !important;
    }

    .form{
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 80%;
        z-index: 5;
   
        height: auto;
        padding-top: 4px;padding-bottom: 4px;
        border: none;
    }
    .send_bnt{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        z-index: 10;
        height: 38px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        background: yellow;
        color: #2b2b2b;
        cursor: pointer;
    }

}

